window {	
   background-image: url("file:///etc/greetd/wallpaper.jpg");
   background-size: cover;
   background-position: center;
}

clock {
   color: rgb(250, 250, 250);
}

box#body {
   background-color: rgba(0, 0, 0, 0.5);
   color: rgba(200, 200, 200, 1);
   border-radius: 10px;
   padding: 50px;
}
entry {
   caret-color: rgb(212, 175, 252);
   box-shadow: none;
   -gtk-secondary-caret-color: rgb(212, 175, 252);
   background-color: rgb(34, 34, 34);
   color: rgb(255, 255, 255);
   border-radius: 100px;
   border-width: 0px;
   border-color: rgb(0, 0, 0);
}

button {
   color: rgb(0,0,0);
   background-image: image(rgb(212, 175, 252));
   border-radius: 100px;
   border-width: 0px;
}

menu {
   border-radius: 5px;
   background-color: rgb(34, 34, 34);
   border-color: rgb(212, 175, 252);
   caret-color: rgb(212, 175, 252);
   color: rgb(250, 250, 250);
}

menuitem:hover {
   background-color: rgb(212, 175, 252);
   color: rgb(0, 0, 0);
}
