name: generate-iso
on:
  schedule:
    - cron:
        "00 10 * * 1" # build at 10:00 UTC every Monday
  workflow_dispatch:

jobs:
  bluebuild:
    name: Build Custom Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: true # stop GH from cancelling all matrix builds if one fails
      matrix:
        recipe:
          # !! Add your recipes here 
          - recipe-plasma.yml
          #- recipe-niri.yml
          #- recipe-cosmic.yml
          #- recipe-sway.yml
          #- recipe-cosmic-sway.yml

    steps:
       # the build is fully handled by the reusable github action
      - name: Build Custom Image
        uses: blue-build/github-action@v1.10
        with:
          rechunk: true
          recipe: ${{ matrix.recipe }}
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
  
  iso-plasma:    
    name: Create and Upload ISO
    runs-on: ubuntu-latest
    needs: bluebuild
    steps:
    - name: Build ISO
      uses: jasonn3/build-container-installer@main
      id: build
      with:
        arch: x86_64
        image_name: blue-sounds-plasma
        image_repo: ghcr.io/luizansounds
        image_tag: latest
        version: 41
        variant: kinoite
        iso_name: blue-sounds-plasma.iso

# This example is for uploading your ISO as a Github artifact. You can do something similar using any cloud storage, so long as you copy the output
    - name: Upload ISO as artifact
      id: upload
      uses: actions/upload-artifact@v6
      with:
        name: ${{ steps.build.outputs.iso_name }}
        path: |
          ${{ steps.build.outputs.iso_path }}
          ${{ steps.build.outputs.iso_path }}-CHECKSUM
        if-no-files-found: error
        retention-days: 5
        compression-level: 0

